@use 'src/styles/utility/_mixins.scss' as *;
@use 'src/styles/_screens-width.scss' as *;

:host {
  display: block;
  width: 10rem;
}

.card__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

@include respond_to($screen-large, max) {
  :host {
    width: 14rem;
  }
}
