@let itemsList = navListItems();

<header class="header_component">
  <a href="#" tuiLink class="icon_wrapper">
    <img [src]="pokeDexIcoSrc" alt="pokedex_icon" class="pokedex_icon" />
    <h1>PokeDex</h1>
  </a>
  <nav class="nav_container">
    @for (item of itemsList; track item.label) {
      <a [href]="item.link" tuiLink class="nav_link">
        <tui-icon [icon]="item.icon" />
        <span>{{ item.label }}</span>
      </a>
    }
  </nav>
  <div class="settings_buttons_container">
    <button tuiButton size="xs" appearance="textfield" tuiIconButton iconStart="@tui.moon">
      theme
    </button>
    <button tuiButton size="xs" appearance="textfield" tuiIconButton iconStart="@tui.languages">
      language
    </button>
  </div>
</header>
