@let itemsList = navListItems();

<header *transloco="let t" class="header_component">
  <a href="#" tuiLink class="icon_wrapper">
    <img [src]="pokeDexIcoSrc" alt="pokedex_icon" class="pokedex_icon" />
    <h1>PokeDex</h1>
  </a>
  <nav class="nav_container">
    @for (item of itemsList; track item.label) {
      <a [href]="item.link" tuiLink class="nav_link">
        <tui-icon [icon]="item.icon" />
        <span>{{ t(item.label) }}</span>
      </a>
    }
  </nav>
  <div class="settings_buttons_container">
    <button
      tuiButton
      size="xs"
      appearance="textfield"
      tuiIconButton
      [iconStart]="themeService.themeIcon()"
      (click)="themeService.toggleTheme()"
    >
      theme
    </button>
    <button
      tuiButton
      size="xs"
      appearance="textfield"
      tuiIconButton
      iconStart="@tui.languages"
      (click)="language.languageSwitch()"
    >
      language
    </button>
  </div>
</header>
