@use 'utility/mixins';

:host {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 0 auto;
  background: var(--gradient-bg);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0px;
}

.header_component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_container {
  @include mixins.center_content;

  gap: calc(0.25rem * 6);

  .nav_link {
    @include mixins.center_content;

    color: color-mix(in oklab, var(--tui-text-primary) 60%, transparent);
    gap: calc(0.25rem * 2);
  }

  .nav_link:hover {
    color: var(--primary);
  }

  .active_link {
    color: var(--primary);
  }
}

.settings_buttons_container {
  @include mixins.center_content;

  gap: calc(0.25rem * 3);

  button {
    padding: 1rem;
    border-radius: 1.25rem;
  }
}
.icon_wrapper {
  @include mixins.center_content;

  flex-direction: row;
  gap: 1rem;

  h1 {
    font-size: 1.5rem;
    margin: 0 0;
    color: var(--primary);
  }
}

.pokedex_icon {
  width: 2.5rem;
}

@media (max-width: 768px) {
  .nav_container {
    display: none;
  }
}
