@use 'utility/mixins';
@use 'screens-width';

:host {
  @include mixins.flex_container_function($direction: column, $gap: 5px);
  min-height: 100vh;
}

.not-found-container {
  @include mixins.flex_container_function($direction: column, $gap: 10px);
  max-width: 600px;
  padding: 0 10px;
}

.not-found-heading,
.not-found-text {
  text-align: center;
  color: var(--tui-text-primary);
}

.not-found-heading {
  margin: 0;
  @include mixins.respond-to(screens-width.$screen-small, 'max') {
    font-size: 1.5em;
  }
}

.not-found-text {
  max-width: 480px;
  @include mixins.respond-to(screens-width.$screen-small, 'max') {
    font-size: 0.8em;
  }
}

.not-found-image {
  border-radius: 15px;
  border: 1px solid var(--border);
  max-width: 100%;
  height: auto;
  display: block;
}

.not-found-button {
  max-width: 480px;
  width: 100%;
  @include mixins.respond-to(screens-width.$screen-small, 'max') {
    font-size: 0.8em;
  }
}
