@use 'utility/mixins';
@use 'screens-width';

$types:
  normal, fighting, flying, poison, ground, rock, bug, ghost, steel, fire, water, grass, electric,
  psychic, ice, dragon, dark, fairy, stellar, unknown;

$stats: hp, attack, defense, special-attack, special-defense, speed;

:host {
  @include mixins.flex_container_function($direction: column, $gap: 1rem);
  padding: 1rem;
  * {
    margin: 0;
  }
}

.profile_pokemon__intro {
  width: 100%;
  @include mixins.flex_container_function($gap: 1rem);
  background: var(--gradient-bg);
  border-radius: 1.6rem;
  border: 1px solid var(--border);
  transition: all 0.3s;
  padding: 1rem;
}

.profile_pokemon__image {
  width: 23rem;
  height: 23rem;
}

.profile_pokemon__intro_information {
  max-width: 23rem;
  @include mixins.flex_container_function($direction: column, $align_items: left, $gap: 0.75rem);
}

.profile__line {
  @include mixins.flex_container_function($direction: row, $gap: 0.75rem);
  &-left {
    @include mixins.flex_container_function(
      $direction: row,
      $justify_content: start,
      $gap: 0.75rem
    );
  }
  &-stats {
    @include mixins.grid_container_function($grid_template_columns: 1fr auto 13rem);
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  &-total {
    padding-top: 1rem;
    border-top: 1px solid var(--border);
  }
}

.profile__name {
  @include mixins.font_function($weight: bold, $size: 1.5rem);
  &::first-letter {
    text-transform: uppercase;
  }
}

.profile__type {
  color: var(--accent-foreground);
  text-transform: uppercase;
  @each $type in $types {
    &-#{$type} {
      background: linear-gradient(to right, var(--type-#{$type}-start), var(--type-#{$type}-end));
    }
  }
}

.profile__ability {
  color: var(--accent-foreground);
  text-transform: uppercase;
  &.profile__ability-hidden {
    background: linear-gradient(to right, var(--ability-hidden-start), var(--ability-hidden-end));
  }
  &.profile__ability-visible {
    background: linear-gradient(to right, var(--ability-visible-start), var(--ability-visible-end));
  }
}

.profile__param {
  &-name {
    @include mixins.font_function($weight: bold);
  }
}

.profile__button {
  width: 100%;
}

.profile__pokemon_stats {
  @include mixins.flex_container_function($direction: column, $align-items: start, $gap: 1rem);
  width: 100%;
  background: var(--gradient-bg);
  border-radius: 1.6rem;
  border: 1px solid var(--border);
  padding: 1rem;
}

.profile__pokemon_stats_content {
  @include mixins.grid_container_function($grid_template_columns: repeat(2, 23rem), $gap: 1rem);
}

.profile__pokemon_stats_items {
  @include mixins.flex_container_function($direction: column, $gap: 0.5rem);
  width: 100%;
}

.profile_stats__bar {
  @each $stat in $stats {
    &-#{$stat} {
      color: var(--stat-#{$stat}-start);
    }
  }
}

.profile__pokemon_stats_radar {
  @include mixins.flex_container_function($direction: column);
  width: 100%;
}

.profile__pokemon_chart {
  --tui-chart-categorical-00: var(--stat-hp-start);
  --tui-chart-categorical-01: var(--stat-attack-start);
  --tui-chart-categorical-02: var(--stat-defense-start);
  --tui-chart-categorical-03: var(--stat-special-attack-start);
  --tui-chart-categorical-04: var(--stat-special-defense-start);
  --tui-chart-categorical-05: var(--stat-speed-start);
}

.pokemon__profile_evolution {
  @include mixins.flex_container_function();
  width: 100%;
  background: var(--gradient-bg);
  border-radius: 1.6rem;
  border: 1px solid var(--border);
  padding: 1rem;
}
