@use 'utility/mixins';
@use 'screens-width';

$stats: hp, attack, defense, special-attack, special-defense, speed;

:host {
  @include mixins.grid_container_function($grid_template_columns: repeat(2, 1fr), $gap: 1rem);
  @include mixins.respond-to(screens-width.$screen-large, 'max') {
    @include mixins.grid_container_function($grid_template_columns: repeat(1, 1fr), $gap: 1rem);
  }
  max-width: 55rem;
  width: 100%;
  padding: 1rem;
  * {
    margin: 0;
  }
}

.pokemon__profile_evolution {
  @include mixins.flex_container_function();
  width: 100%;
  background: var(--gradient-bg);
  border-radius: 1.6rem;
  border: 1px solid var(--border);
  padding: 1rem;
}
