<div class="card" [class.active]="evolutionChain().name === activeName()">
  <h3>{{ evolutionChain().name }}</h3>
  @if (evolutionChain().condition) {
    <span class="badge">{{ evolutionChain().condition }}</span>
  }
</div>

@if (evolutionChain().children.length) {
  @if (evolutionChain().children.length === 1) {
    <tui-icon icon="@tui.arrow-down" size="xs" class="arrow-icon" />
    <left-paw-evolution-chain-item
      [evolutionChain]="evolutionChain().children[0]"
      [activeName]="activeName()"
    />
  } @else {
    <tui-icon icon="@tui.arrow-down" size="xs" class="arrow-icon" />
    <div class="carousel__wrapper">
      <button
        iconStart="@tui.chevron-left"
        size="xs"
        tuiButton
        tuiIconButton
        appearance="textfield"
        type="button"
        (click)="carousel.prev()"
      >
        previous
      </button>
      <tui-carousel #carousel class="adaptive-carousel" [duration]="5000" [(index)]="index">
        <section *tuiItem="let index" appearance="neutral" tuiCardMedium class="transparent-slide">
          @let current = evolutionChain().children.at(index % evolutionChain().children.length);
          @if (current) {
            <left-paw-evolution-chain-item [evolutionChain]="current" [activeName]="activeName()" />
          }
        </section>
      </tui-carousel>
      <button
        iconStart="@tui.chevron-right"
        size="xs"
        tuiButton
        tuiIconButton
        appearance="textfield"
        type="button"
        (click)="carousel.next()"
      >
        next
      </button>
    </div>
  }
}
