@mixin center_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_container_function(
  $display: flex,
  $direction: row,
  $flex_wrap: wrap,
  $align_items: center,
  $justify_content: center,
  $gap: 0px
) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $flex_wrap;
  align-items: $align_items;
  justify-content: $justify_content;
  gap: $gap;
}

@mixin grid_container_function(
  $display: grid,
  $grid_template_areas: null,
  $grid_template_rows: null,
  $grid_template_columns: null,
  $grid_auto_flow: null,
  $justify_content: null,
  $justify_items: null,
  $align_items: null,
  $gap: null
) {
  display: $display;
  grid-template-areas: $grid_template_areas;
  grid-template-rows: $grid_template_rows;
  grid-template-columns: $grid_template_columns;
  grid-auto-flow: $grid_auto_flow;
  justify-content: $justify_content;
  justify-items: $justify_items;
  align-items: $align_items;
  gap: $gap;
}

@mixin respond_to($width, $type: 'min') {
  @media (#{$type}-width: $width) {
    @content;
  }
}
@mixin font_function($style: normal, $weight: normal, $size: 1rem, $height: 100%, $align: start) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  text-align: $align;
}
