<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="m"
  class="signup__form"
  [formGroup]="registrationForm"
>
  <div class="signup__title-wrapper">
    <h2 class="signup__title" tuiTitle>Begin your journey</h2>
    <p class="signup__subtitle" tuiSubtitle>Register to start tracking your collection</p>
  </div>
  <tui-textfield iconStart="@tui.user">
    <label tuiLabel for="username">Name</label>
    <input
      formControlName="username"
      placeholder="john"
      tuiInput
      autocomplete="username"
      type="text"
      id="username"
    />
  </tui-textfield>
  <tui-error />
  <tui-textfield iconStart="@tui.mail">
    <label tuiLabel for="email">Email</label>
    <input
      formControlName="email"
      placeholder="john@wick.com"
      tuiInput
      autocomplete="email"
      type="email"
      id="email"
    />
  </tui-textfield>
  <tui-error />
  <tui-textfield iconStart="@tui.lock">
    <label tuiLabel for="password">Password</label>
    <input
      formControlName="password"
      placeholder="333333Qq"
      tuiInput
      autocomplete="current-password"
      type="password"
      id="password"
    />
  </tui-textfield>
  <tui-error />
  <tui-textfield iconStart="@tui.lock">
    <label tuiLabel for="passwordRepeat">Repeat password</label>
    <input
      formControlName="passwordRepeat"
      placeholder="333333Qq"
      tuiInput
      autocomplete="current-password"
      type="password"
      id="passwordRepeat"
    />
  </tui-textfield>
  <tui-error />
  <button tuiButton type="submit">Submit</button>
  <p>
    Already have an account?<a [routerLink]="loginRouterPath" tuiLink class="nav_link">Log In</a>
  </p>
</form>
