<form
  *transloco="let t"
  tuiAppearance="floating"
  tuiForm="m"
  class="signup__form"
  (submit)="onSubmit($event)"
>
  <div class="signup__title-wrapper">
    <h2 class="signup__title" tuiTitle>{{ t('auth.signup.heading') }}</h2>
    <p class="signup__subtitle" tuiSubtitle>{{ t('auth.signup.subheading') }}</p>
  </div>
  <div class="signup__inputs">
    <tui-textfield class="signup__textfield" iconStart="@tui.user">
      <label tuiLabel for="username">{{ t('auth.signup.username') }}</label>
      <input
        [formField]="signupFacade.signupForm.userName"
        placeholder="John"
        tuiInput
        type="text"
        id="username"
      />
    </tui-textfield>
    @let userNameError = firstErrorKey(signupFacade.signupForm.userName);
    <tui-error class="signup__error" [error]="userNameError ? t(userNameError) : null" />
    <tui-textfield class="signup__textfield" iconStart="@tui.mail">
      <label tuiLabel for="email">{{ t('auth.signup.email') }}</label>
      <input
        [formField]="signupFacade.signupForm.email"
        placeholder="john@wick.com"
        tuiInput
        type="email"
        id="email"
      />
    </tui-textfield>
    @let userEmailError = firstErrorKey(signupFacade.signupForm.email);
    <tui-error class="signup__error" [error]="userEmailError ? t(userEmailError) : null" />
    <tui-textfield class="signup__textfield" iconStart="@tui.lock" [tuiTextfieldCleaner]="false">
      <label tuiLabel for="password">{{ t('auth.signup.password') }}</label>
      <input
        [formField]="signupFacade.signupForm.password"
        placeholder="333333Qq"
        tuiInput
        type="password"
        id="password"
      />
      <tui-icon tuiPassword />
    </tui-textfield>
    @let userPasswordError = firstErrorKey(signupFacade.signupForm.password);
    <tui-error class="signup__error" [error]="userPasswordError ? t(userPasswordError) : null" />
    <tui-textfield class="signup__textfield" iconStart="@tui.lock" [tuiTextfieldCleaner]="false">
      <label tuiLabel for="passwordRepeat">{{ t('auth.signup.passwordRepeat') }}</label>
      <input
        [formField]="signupFacade.signupForm.repeatPassword"
        placeholder="333333Qq"
        tuiInput
        type="password"
        id="passwordRepeat"
      />
      <tui-icon tuiPassword />
    </tui-textfield>
    @let userRepeatPasswordError = firstErrorKey(signupFacade.signupForm.repeatPassword);
    <tui-error
      class="signup__error"
      [error]="userRepeatPasswordError ? t(userRepeatPasswordError) : null"
    />
  </div>
  <button
    class="signup__form_button"
    tuiButton
    appearance="brand-accent"
    type="submit"
    [disabled]="!signupFacade.signupForm().valid() || isLoading()"
  >
    {{ t('auth.signup.button') }}
  </button>
  <div class="signup__title-wrapper">
    <p class="signup__form_text">
      {{ t('auth.signup.endingText')
      }}<a
        [routerLink]="loginRouterPath"
        queryParamsHandling="preserve"
        tuiLink
        class="signup__form_link"
        >{{ t('auth.signup.signupLink') }}</a
      >
    </p>
  </div>
</form>
