@use 'utility/mixins';
@use 'screens-width';

:host {
  @include mixins.flex_container_function($direction: column, $gap: 10px);
  border-radius: 20px;
  // background: var(--gradient-bg);
  width: 100%;
  max-width: 32rem;
  padding: 10px;
}

// .signup__form {
//   width: 100%;
// }

.signup__inputs {
  @include mixins.flex_container_function($direction: column, $gap: 10px);
  width: 100%;
}

.signup__title-wrapper {
  @include mixins.flex_container_function($direction: column, $gap: 10px);
}
