<figure *transloco="let t; prefix: 'pokemonProfile'" class="profile_pokemon__intro">
  <img
    class="profile_pokemon__image"
    [src]="pokemonProfileData().sprites.other['official-artwork'].front_default"
    [alt]="pokemonProfileData().name"
  />
  <figcaption class="profile_pokemon__info">
    <div class="pokemon__info_group">
      <h2 class="profile__name">{{ pokemonProfileData().name }}</h2>
      <p class="profile__id">#{{ pokemonProfileData().id }}</p>
    </div>
    <div class="pokemon__info_group-column">
      <p class="pokemon__info_subheading">{{ t('types') }}</p>
      <div class="pokemon__info_badges_row">
        @for (item of pokemonProfileData().types; track item.type.name) {
          <span class="profile__type profile__type-{{ item.type.name }}" tuiBadge>{{
            item.type.name
          }}</span>
        }
      </div>
    </div>
    <div class="pokemon__info_group-column">
      <p class="pokemon__info_subheading">{{ t('abilities') }}</p>
      <div class="pokemon__info_badges_row">
        @for (item of pokemonProfileData().abilities; track item.ability?.name) {
          <span
            [class]="
              item.is_hidden
                ? 'profile__ability profile__ability-hidden'
                : 'profile__ability profile__ability-visible'
            "
            tuiBadge
            >{{ item.ability?.name }}</span
          >
        }
      </div>
    </div>
    <div class="pokemon__info_group">
      <p class="profile__param">
        <span class="pokemon__info_subheading">{{ t('weight') }}</span
        >{{ pokemonProfileData().weight | leftPawDivideByTen }} {{ t('kg') }}
      </p>
      <p class="profile__param">
        <span class="pokemon__info_subheading">{{ t('height') }}</span
        >{{ pokemonProfileData().height | leftPawDivideByTen }} {{ t('m') }}
      </p>
    </div>
    <button
      class="pokemon__info_button"
      tuiButton
      tuiButtonLoading
      type="button"
      size="m"
      appearance="brand-primary"
      [loading]="profileFacade.isLoading()"
      (click)="onFavoriteClick()"
    >
      {{ isFavorite() ? t('removeFromFavorites') : t('favorites') }}
    </button>
    <left-paw-pokemon-tamagotchi-selection
      [isCurrentSelection]="isCurrentTamagotchiSelection()"
      [loading]="selectionFacade.isSelectionLoading()"
      [tamagotchiRoute]="tamagotchiRoute"
      (selectRequested)="onTamagotchiSelectRequested()"
    />
  </figcaption>
</figure>
