<figure class="card__cover">
  <img
    class="card__image"
    [src]="
      $safeNavigationMigration(
        pokemonCardData()?.sprites?.other?.['official-artwork']?.front_default
      )
    "
    [alt]="$safeNavigationMigration(pokemonCardData()?.name)"
  />
  <figcaption class="card__information">
    <div class="card__line">
      <h3 class="card__name">{{ pokemonCardData()?.name }}</h3>
      <p class="card__id">#{{ pokemonCardData()?.id }}</p>
    </div>
    <div class="card__line-left">
      @for (item of pokemonCardData()?.types; track item.type.name) {
        <span className="card__type card__type-{{ item.type.name }}" tuiBadge>{{
          item.type.name
        }}</span>
      }
    </div>
    @for (item of pokemonLimitedStats(); track item.stat.name) {
      <div class="card__line-stats">
        <p class="stats__name">{{ item.stat.name }}</p>
        <progress
          class="stats__bar stats__bar-{{ item.stat.name }}"
          max="300"
          tuiProgressBar
          [value]="item.base_stat"
        ></progress>
        <p class="stats__value">{{ item.base_stat }}</p>
      </div>
    }
  </figcaption>
</figure>
