<ng-container *transloco="let t">
  <h3 class="pokemon__sec_heading">{{ t('pokemonProfile.stats') }}</h3>
  <div class="pokemon__stats_content">
    <div class="pokemon__stats_items">
      @for (item of pokemonProfileData().stats; track item.stat.name) {
        <div class="pokemon__stats_group">
          <p class="pokemon_stats__name">{{ t(`pokemonProfile.${item.stat.name}`) }}</p>
          <p class="pokemon_stats__value">{{ item.base_stat }}</p>
          <progress
            class="pokemon__stats_bar pokemon__stats_bar-{{ item.stat.name }}"
            max="300"
            tuiProgressBar
            [value]="item.base_stat"
          ></progress>
        </div>
      }
      <div class="pokemon__stats_group pokemon__stats_group-total">
        <p class="pokemon_stats__name">{{ t('pokemonProfile.total') }}</p>
        <p class="pokemon_stats__value">{{ pokemonTotalStats() }}</p>
      </div>
    </div>
    <div
      echarts
      [options]="getRadarChartOptions(t)"
      [initOpts]="{ renderer: 'svg' }"
      class="pokemon__stats_radar"
    ></div>
    <!-- <div class="pokemon__stats_radar">
      <tui-arc-chart
        size="xl"
        [max]="300"
        [minLabel]="'0'"
        [maxLabel]="'300'"
        class="pokemon_chart"
        [value]="pokemonStatsValues()!"
      />
    </div> -->
  </div>
</ng-container>
