$pokemon-types: (
  'normal': (
    bg: #94a3b8,
    color: #ffffff,
  ),
  'fire': (
    bg: #ef4444,
    color: #ffffff,
  ),
  'water': (
    bg: #3b82f6,
    color: #ffffff,
  ),
  'grass': (
    bg: #10b981,
    color: #ffffff,
  ),
  'electric': (
    bg: #eab308,
    color: #111111,
  ),
  'ice': (
    bg: #06b6d4,
    color: #ffffff,
  ),
  'fighting': (
    bg: #b91c1c,
    color: #ffffff,
  ),
  'poison': (
    bg: #a855f7,
    color: #ffffff,
  ),
  'ground': (
    bg: #b45309,
    color: #ffffff,
  ),
  'flying': (
    bg: #60a5fa,
    color: #ffffff,
  ),
  'psychic': (
    bg: #ec4899,
    color: #ffffff,
  ),
  'bug': (
    bg: #84cc16,
    color: #ffffff,
  ),
  'rock': (
    bg: #78350f,
    color: #ffffff,
  ),
  'ghost': (
    bg: #6d28d9,
    color: #ffffff,
  ),
  'dragon': (
    bg: #4f46e5,
    color: #ffffff,
  ),
  'dark': (
    bg: #1e293b,
    color: #ffffff,
  ),
  'steel': (
    bg: #64748b,
    color: #ffffff,
  ),
  'fairy': (
    bg: #f472b6,
    color: #ffffff,
  ),
);
