:host {
  display: block;
}

.mini-game-container__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 8rem;
  padding: 1rem;
  border-radius: var(--tui-radius-l);
  background: var(--tui-background-neutral-1);
}
