@use 'utility/mixins';
@use 'screens-width';

:host {
  max-width: 1600px;
  width: 100%;
}

.catalog-container {
  @include mixins.grid_container_function(
    $grid_template_columns: repeat(5, 300px),
    $align_items: center,
    $justify_content: center,
    $gap: 10px
  );
  @include mixins.respond-to(screens-width.$screen-xx-large, 'max') {
    @include mixins.grid_container_function($grid_template_columns: repeat(4, 300px));
  }
  @include mixins.respond-to(screens-width.$screen-x-large, 'max') {
    @include mixins.grid_container_function($grid_template_columns: repeat(3, 300px));
  }
  @include mixins.respond-to(screens-width.$screen-large, 'max') {
    @include mixins.grid_container_function($grid_template_columns: repeat(2, 300px));
  }
  @include mixins.respond-to(screens-width.$screen-medium, 'max') {
    @include mixins.grid_container_function($grid_template_columns: repeat(1, 300px));
  }
}
