<left-paw-catalog-filter />
<div class="catalog-container" *transloco="let t; prefix: 'main'">
  @if (!catalogFacade.isLoadingPokemonPaginationData()) {
    @for (item of catalogFacade.paginatedPokemonList() ?? []; track item.name) {
      @defer (on viewport) {
        <left-paw-pokemon-card [pokemonName]="item.name" />
      } @placeholder {
        <div class="empty__card">
          <tui-loader />
        </div>
      }
    } @empty {
      <p class="empty-state">{{ t('noResults') }}</p>
    }
  }
</div>
<left-paw-catalog-pagination />
