<div *transloco="let t" class="wrapper">
  <h1 class="heading">PokeDex (ngKittyDebugLeftPaw)</h1>
  <div class="team-list">
    <a
      href="https://github.com/pavelkuvsh1noff"
      target="_blank"
      rel="noopener noreferrer"
      class="team-card"
      [attr.aria-label]="t('about.pavelkuvsh1noff.linkLabel')"
    >
      <div>
        <h3 class="name">{{ t('about.pavelkuvsh1noff.name') }}</h3>
        <p class="position">{{ t('about.pavelkuvsh1noff.position') }}</p>
      </div>
      <div class="img-wrapper">
        <img ngSrc="images/team/PavelCat.jpg" [alt]="t('about.pavelkuvsh1noff.alt')" fill />
      </div>
    </a>
    <a
      href="https://github.com/AlexGorSer"
      target="_blank"
      rel="noopener noreferrer"
      class="team-card"
      [attr.aria-label]="t('about.alexgorser.linkLabel')"
    >
      <div>
        <h3 class="name">{{ t('about.alexgorser.name') }}</h3>
        <p class="position">{{ t('about.alexgorser.position') }}</p>
      </div>
      <div class="img-wrapper">
        <img ngSrc="images/team/AlexCat.jpg" [alt]="t('about.alexgorser.alt')" fill />
      </div>
    </a>
    <a
      href="https://github.com/Oksi2510"
      target="_blank"
      rel="noopener noreferrer"
      class="team-card"
      [attr.aria-label]="t('about.oksi2510.linkLabel')"
    >
      <div>
        <h3 class="name">{{ t('about.oksi2510.name') }}</h3>
        <p class="position">{{ t('about.oksi2510.position') }}</p>
      </div>
      <div class="img-wrapper">
        <img ngSrc="images/team/OksanaCat.jpg" [alt]="t('about.oksi2510.alt')" fill />
      </div>
    </a>
  </div>
  <div class="description">
    <p>
      <span>PokeDex</span>
      {{ t('about.description.partOne') }}
      <a class="angular" href="https://angular.dev/" target="_blank" rel="noopener noreferrer"
        >Angular</a
      >
      {{ t('about.description.partTwo') }}
      <a class="rs" href="https://rs.school/" target="_blank" rel="noopener noreferrer"
        >The Rolling Scopes School</a
      >
    </p>
    <p>
      {{ t('about.description.partThree') }}
    </p>
  </div>
  <ul class="features">
    <li class="feature bg-green">{{ t('about.feature.one') }}</li>
    <li class="feature">{{ t('about.feature.two') }}</li>
    <li class="feature bg-pink">{{ t('about.feature.three') }}</li>
    <li class="feature">{{ t('about.feature.four') }}</li>
    <li class="feature bg-red">{{ t('about.feature.five') }}</li>
    <li class="feature bg-orange">{{ t('about.feature.six') }}</li>
  </ul>
  <tui-accordion class="accordion">
    @for (item of accordionList; track item.title) {
      <button [tuiAccordion]="$index === 0">{{ t(item.title) }}</button>
      <tui-expand class="accordion_content">{{ t(item.value) }}</tui-expand>
    }
  </tui-accordion>
</div>
