@use 'src/styles/utility/_mixins.scss' as *;
@use 'src/styles/_screens-width.scss' as *;

.wrapper {
  @include flex_container_function($direction: column, $gap: 5rem);

  padding: 0 5rem;
  max-width: 100vw;
  overflow: hidden;
  margin: 5rem 0;
}
.heading {
  text-align: center;
  margin: 0;
}
.team-list {
  @include flex_container_function($justify_content: space-between, $gap: 2rem, $flex_wrap: nowrap);

  width: 100%;
  padding: 0;
  margin: 0;
}
.team-card {
  @include flex_container_function($direction: column);

  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem;
  background-color: var(--pokemon-card);
  color: var(--pokemon-card-foreground);
  border-radius: 2rem;
  border: solid 2px var(--sidebar-border);
  transition: all 0.3s;
  position: relative;

  &:hover {
    border: solid 2px var(--sidebar-primary);
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 0px var(--sidebar-ring);
    .img-wrapper {
      box-shadow: 0px 0px 10px 0px var(--sidebar-primary);
    }
  }
}
.name {
  @include font_function($size: 1.5rem);
  margin: 0;
}
.position {
  margin: 1rem 0;
}
.img-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-top: auto;
  object-fit: cover;
  border: solid 1px var(--sidebar-border);
  transition: all 0.3s;

  & img {
    width: 100%;
    height: auto;
  }
}
.description {
  background-color: var(--sidebar-accent);
  border-radius: 1.5rem;
  border: solid 2px var(--border);
  padding: 1rem;
  margin-top: 0;
  & span {
    @include font_function($size: 1.5rem, $weight: 700);
    color: var(--primary);
  }
}
.angular {
  @include font_function($weight: 700, $size: 1.2rem);
  color: var(--angular);
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    text-shadow: 0 0 2px var(--rs);
    text-decoration: underline;
  }
}
.rs {
  @include font_function($weight: 700, $size: 1.2rem);

  color: var(--rs);
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--angular);
  transition: all 0.3s;
  &:hover {
    text-shadow: 1px 1px 3px var(--angular);
    text-decoration: underline;
  }
}
.accordion {
  background-color: var(--sidebar);
  margin-top: 0;
}
.accordion_content {
  background-color: var(--sidebar-accent);
}
.features {
  @include flex_container_function($justify_content: center, $flex_wrap: wrap);

  margin: 0;
  padding: 0;
}
.feature {
  text-wrap: nowrap;
  display: inline-block;
  background-color: var(--border);
  border: solid 2px var(--primary);
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow:
    0 0 10px 0 var(--primary),
    inset 0 0 10px 0 var(--primary);
}
.bg-green {
  border: solid 2px var(--type-grass-start);
  box-shadow:
    inset 0 0 10px 0 var(--type-grass-start),
    0 0 10px 0 var(--type-grass-start);
}
.bg-orange {
  border: solid 2px var(--stat-speed-end);
  box-shadow:
    inset 0 0 10px 0 var(--stat-speed-end),
    0 0 10px 0 var(--stat-speed-end);
}
.bg-red {
  border: solid 2px var(--stat-attack-start);
  box-shadow:
    inset 0 0 10px 0 var(--stat-attack-start),
    0 0 10px 0 var(--stat-attack-start);
}
.bg-pink {
  border: solid 2px var(--type-fairy-start);
  box-shadow:
    inset 0 0 10px 0 var(--type-fairy-start),
    0 0 10px 0 var(--type-fairy-start);
}
@include respond_to($screen-small, max) {
  .team-list {
    flex-direction: column;
  }
  .team-card {
    width: 100%;
  }
  .wrapper {
    padding: 0 1rem;
  }
  .heading {
    text-wrap: wrap;
  }
  .feature {
    text-wrap: wrap;
    text-align: center;
  }
}
