<div *transloco="let t" class="wrapper">
  <h1 class="heading">PokeDex (ngKittyDebugLeftPaw)</h1>
  <ul class="team-list">
    <div class="team-card">
      <h3 class="name">{{ t('about.pavelkuvsh1noff.name') }}</h3>
      <p class="position">Frontend developer</p>
      <div class="img-wrapper">
        <img src="images/team/PavelCat.jpg" alt="Pavel" />
      </div>
    </div>
    <div class="team-card">
      <h3 class="name">{{ t('about.alexgorser.name') }}</h3>
      <p class="position">Fullstack developer</p>
      <div class="img-wrapper">
        <img src="images/team/AlexCat.jpg" alt="Alex" />
      </div>
    </div>
    <div class="team-card">
      <h3 class="name">{{ t('about.oksi2510.name') }}</h3>
      <p class="position">Frontend developer / Designer</p>
      <div class="img-wrapper">
        <img src="images/team/OksanaCat.jpg" alt="Oksana" />
      </div>
    </div>
  </ul>
  <div class="description">
    <p>
      {{ t('about.description.partOne') }}
      <span>Angular</span>
      {{ t('about.description.partTwo') }}
      <span>The Rolling Scopes School</span>
    </p>
    <p>
      {{ t('about.description.partThree') }}
    </p>
  </div>
  <ul class="features">
    <div class="feature bg-green">{{ t('about.feature.one') }}</div>
    <div class="feature">{{ t('about.feature.two') }}</div>
    <div class="feature bg-pink">{{ t('about.feature.three') }}</div>
    <div class="feature">{{ t('about.feature.four') }}</div>
    <div class="feature bg-red">{{ t('about.feature.five') }}</div>
    <div class="feature bg-orange">{{ t('about.feature.six') }}</div>
  </ul>
  <tui-accordion class="accordion">
    @for (item of AccordionData; track item) {
      <button [tuiAccordion]="$index === 0">{{ t(item.title) }}</button>
      <tui-expand class="accordion_content">{{ t(item.value) }}</tui-expand>
    }
  </tui-accordion>
</div>
