<button
  *transloco="let t; prefix: 'pokemonTamagotchi.sprite'"
  type="button"
  class="pokemon-sprite"
  [attr.aria-disabled]="canInteract() ? null : true"
  [attr.aria-label]="t('petAria', { name: pokemon().name })"
  [class.pokemon-sprite--sleeping]="isSleeping()"
  [class.pokemon-sprite--evolving]="isEvolving()"
  [class.pokemon-sprite--training]="isTraining()"
  (click)="onClick()"
  (keydown)="onKeydown($event)"
  (pointercancel)="onPointerCancel($event)"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
>
  <img
    #spriteImage
    [class]="'pokemon-sprite__image ' + animationClass()"
    [class.pokemon-sprite__image--reduced]="!useComplexAnimations()"
    [src]="spriteUrl()"
    alt=""
    draggable="false"
    (animationend)="onFeedbackAnimationEnd($event)"
  />
</button>
