@use 'utility/mixins';
@use 'screens-width';

:host {
  @include mixins.flex_container_function($direction: column);
  border-radius: 1.6rem;
  background: var(--gradient-bg);
  width: 100%;
  max-width: 32rem;
  padding: 0.8rem 1.6rem;
  * {
    margin: 0;
  }
}

.login__form {
  width: 100%;
}

.login__inputs {
  @include mixins.flex_container_function($direction: column, $flex_wrap: nowrap, $gap: 0.8rem);
  width: 100%;
  margin: 1.2rem 0;
}

.login__textfield {
  width: 100%;
}

.login__title-wrapper {
  @include mixins.flex_container_function($direction: column, $gap: 0.8rem);
}

.login__title {
  text-align: center;
}

.login__subtitle {
  text-align: center;
}

.login__form_button {
  width: 100%;
}

.login__form_text {
  text-align: center;
}

.login__form_link {
  text-decoration: none;
  color: var(--primary);
}
