@use './styles/screens-width.scss';
@use './styles/utility/mixins';
@use './styles/root-colors.style.scss';
@use './styles/dark-style.scss';
@use './styles/light-style.scss';
@use './styles/buttons-taiga-appearances.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  letter-spacing: 0.03em;
  cursor:
    url('./../public/images/cursor/cursor-default.png') 0 0,
    auto;
}

a,
button,
[tuiButton],
[tuiLink],
tui-button,
tui-link,
.tui-island,
[role='button'] {
  cursor:
    url('./../public/images/cursor/cursor-pointer.png') 0 0,
    pointer !important;
}

body {
  overflow-x: hidden;
}

.t-root-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.root-wrapper {
  @include mixins.center_content;
  padding: 0 2rem;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
}
