<left-paw-header [navListItems]="navListItems" />

<div>
  // это отладочное, для проверки работы, в ласт пр не будет
  <button (click)="pokemonPagination.increasePaginationCount()">inc</button>
  <button (click)="pokemonPagination.decreasePaginationCount()">dec</button>
  @if (!pokemonPagination.isLoadingPokemonPaginationData()) {
    <p>общее количество {{ pokemonPagination.countPokemonData() }}</p>
    <p>общее количество {{ pokemonPagination.currentPage() }}</p>
    <p>количество страничек {{ pokemonPagination.allPokemonPagesCount() }}</p>
    @for (item of pokemonPagination.currentPokemonDataAfterPagination(); track item.name) {
      <h1>{{ item.name }}</h1>
    }
  } @else {
    <h1>Loading</h1>
  }
</div>

<main class="root-wrapper">
  <router-outlet />
</main>
<div *leftPawResponsiveRender="`(max-width:${tableBreakpoint}px)`">
  <nav
    tuiTabBar
    *transloco="let t"
    leftPawHideContent
    [classDirective]="'hide'"
    class="mobile_nav-bar"
  >
    @for (item of navListItems; track item.label) {
      <a routerLink="item.link" tuiLink class="nav_link" tuiTabBarItem [icon]="item.icon">
        <span>{{ t(item.label) }}</span>
      </a>
    }
  </nav>
</div>

<left-paw-footer *leftPawResponsiveRender="`(min-width:${tableBreakpoint}px)`" />
