<left-paw-header [navListItems]="navListItems" />

<div>
  // это отладочное, для проверки работы, в ласт пр не будет
  @if (!pokemonStorageService.isLoadingPokemonPaginationData()) {
    <p>общее количество {{ pokemonStorageService.countPokemonData() }}</p>
    <p>Следующая ссылка {{ pokemonStorageService.nextPokemonPaginationLink() }}</p>
    <p>Предыдущая ссылка {{ pokemonStorageService.previousPokemonPaginationLink() }}</p>
    @for (item of pokemonStorageService.pokemonPaginationData()?.results; track item.name) {
      <h1>{{ item.name }}</h1>
    }
  } @else {
    <h1>Loading</h1>
  }
  <button (click)="inc()">inc</button>
  <button (click)="dec()">dec</button>
</div>

<main class="root-wrapper">
  <router-outlet />
</main>
<div *leftPawResponsiveRender="`(max-width:${tableBreakpoint}px)`">
  <nav
    tuiTabBar
    *transloco="let t"
    leftPawHideContent
    [classDirective]="'hide'"
    class="mobile_nav-bar"
  >
    @for (item of navListItems; track item.label) {
      <a routerLink="item.link" tuiLink class="nav_link" tuiTabBarItem [icon]="item.icon">
        <span>{{ t(item.label) }}</span>
      </a>
    }
  </nav>
</div>

<left-paw-footer *leftPawResponsiveRender="`(min-width:${tableBreakpoint}px)`" />
